<%- include('partials/header') -%>
  <div class="d-flex" id="wrapper">
  <!-- Sidebar -->
    <div class="border-end bg-white ml-1" id="sidebar-wrapper">
      <span class="sidebar-heading border-bottom bg-light ml-1">Activities</span>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/hac/bedmob">
            <i class = " fa fa-bed"></i> 
            <span >  Bed Mobility</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <i class = "fa fa-chair"></i> 
            <span >  Transfers</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <i class = "fa fa-person-cane"></i> 
            <span  >  Gait</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <i class="fa-solid fa-glass-water-droplet"></i> 
            <span >  Self-care</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <i class="fa fa-shirt"></i>
            <span >  Dressing</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <i class="fa fa-shower"></i>
            <span >  Hygine</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <i class = "fa fa-toilet"></i>
            <span >  Toileting</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <i class="fa-solid fa-pills"></i>
            <span > Medication Management</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <i class="fa-solid fa-plate-wheat"></i>
            <span >  Eating/Feeding</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <i class="fa fa-egg"></i>
            <span >  Meal Preparation</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/hac/activities">
            <!-- <i class="fa fa-egg"></i> -->
            <span >  All Activities</span>
          </a>
        </div>
    </div>




  <!-- Page content wrapper-->
    <div id="page-content-wrapper">

      <!-- activities go here -->
      <div class="container-fluid">
        <ul class="row list-unstyled">
          <% for(var i=0; i<activities.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <!-- <a href="/activity/<%= activities[i]._id%>"> -->
                <span> <%= activities[i].activityName %> </span><br></a>
              <img class="img-fluid" src="<%= activities[i].image%>">
              <p> <%= activities[i].actDescription%> </p>
                
            </li>
          <% } %>
          </ul>
      </div>
    </div>  
  </div>
<%- include('partials/footer') -%>